html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Rules for base elements
 */
html {
  font-size: 62.5%; }

body {
  margin: 0; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5;
  list-style-type: none; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

body {
  font: 1em sans-serif; }

.header {
  background-color: #522e91;
  text-align: center; }

.site-logo {
  width: 300px;
  height: auto; }

.menu {
  padding-left: 0;
  margin: 0px; }

.expanded .menu {
  display: none;
  left: 0px; }

.show {
  display: block; }

.header-main-menu-item {
  position: relative;
  cursor: pointer;
  list-style: none;
  text-align: center; }
  .header-main-menu-item a {
    padding: 20px 15px;
    display: block;
    color: #d1d1d1;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
  .header-main-menu-item a:hover {
    color: #eb7a50; }

.header-main-menu-subitem a {
  text-transform: capitalize; }

.header-main-menu-item-social {
  display: none; }

@media (min-width: 768px) {
  .site-logo, .region-header {
    display: inline-block;
    vertical-align: middle; }
  .expanded:hover .menu {
    display: block; }
  .expanded .menu {
    position: absolute;
    top: 50px;
    width: 100%;
    padding-left: 0px;
    z-index: 100;
    background-color: white;
    border-top: 3px solid #eb7a50;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
  .header-main-menu-item {
    display: inline-block;
    margin-left: -4px;
    vertical-align: top; }
    .header-main-menu-item a {
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      transition-property: color; }
      .header-main-menu-item a:hover {
        text-decoration: underline; }
  .header-main-menu-item-social {
    display: none; }
  .header-main-menu-subitem a {
    color: black;
    padding: 5px; }
  .header-main-menu-subitem:first-child {
    padding-top: 15px; } }

.page-title {
  margin-top: 10%;
  font-size: 4.5rem; }

.page-description p {
  font-size: 2.7rem;
  max-width: 480px; }

.page-header-wrapper {
  color: #2d2f33;
  width: 80%;
  height: auto; }

.main-content {
  padding: 0 10%; }

@media screen and (min-width: 800px) {
  .panel-col-first {
    float: left;
    width: 70%;
    margin-right: 5%; }
  .panel-col-last {
    float: right;
    width: 25%; } }

/*# sourceMappingURL=style.css.map */