//Blog posts
.blog-page{
  padding-bottom: 110px !important;
}
.page-blog, .page-activities {
  .panel-two-col-content-wrapper {
    background: #f7f7f7;
    overflow: hidden;
    padding: 20px 0;
    @include media($tablet) {
      padding: 60px 0;
    }
  }
}
.blog-post-main-content-title {
  text-transform: uppercase;
  font-size: 24px;
  a {
    color: $purple;
    text-decoration: none;
    &:active {
      color: $orange;
    }
  }
}

.views-field-field-post-category {

}

.blog-post-main-content-date{
  color: $gray;
  font-size: 1.4rem;
  margin-right: 10px;
}
.blog-post-main-content-category{
  background-color: $lightblue;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1.4rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.blog-categories-name-wrapper {
  a {
    text-decoration: none;
    color: $black;
  }
}

.blog-post-main-content-image{
  margin-top: 10px;
  a {
    display: block;
    width:100%;
    height: auto;
    max-width: 700px;
    img{
      max-height: 400px;
    }
  }
}
.blog-post-main-content-body{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #D3D3D3;
  a{
    color: $darkgray;
  }
}

.pager{
  li{
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
  }
}
//Divider
.blog-post-main-view{
  &:after{
    border-bottom: 1px;
    border-color: $gray;
  }
}

.panel-two-col .page-description {
  margin-bottom: 20px;
  @include media($tablet) {
    margin-bottom: 60px;
  }
}
//Image in blog post.
.field-blog-image{
  img{
    max-height: 400px;
    max-width: 700px;
    width: 100%;
    height: auto;
  }
}
//Terms
.page-taxonomy-term{
  .main-content{
    margin-bottom: 110px;
    padding: 0 20px;
    max-width: 1020px;
    @include media(1061px) {
      margin: 0 auto 110px auto;
    }
  }
}
.pane-node-field-post-category{
  .pane-title{
    display: none;
  }
}
