.node-front-page-images .field-label{
  display: none;
}
.panel-front-page-boxes{
  position: relative;
  &:first-child{
    margin-top: -4px;
  }
  padding: 25px;
  @include media($tablet) {
    padding: 45px 0;
  }
  .pane-title{
    font-size: 3rem;
    line-height: 1;
    @include media(380px){
      font-size: 4.5rem;
    }
    margin: 0;
    @include media($tablet) {
      margin-left: 15%;
      font-size: 4rem;
    }
    @include media(850px) {
      margin-left: 25%;
    }
  }
  p {
    font-family: $heading-font-family;
  }
  .pane-content {
    @include media($tablet) {
      margin-left: 15%;
    }
    @include media(850px) {
      margin-left: 25%;
    }
  }
  p:nth-child(1){
    font-size: 1.8rem;
    line-height: 1;
    margin: 15px 0 0 0;
    @include media($tablet) {
      font-size: 2.4rem;
      max-width: 70%;
    }
    @include media(960px) {
      max-width: 65%;
    }
  }
  //This has to change. To an a.
  p:nth-child(2){
    display: inline-block;
    @extend %button;
    padding: 10px 15px;
    margin: 20px 20px 0 0;
    font-size: 1.8em;
  }
  @include media(630px){
    &:hover{
      background-color: $purple;
      color: white;
      p:nth-child(2){
        color: inherit;
        border-color: white;
        &:after{
          border-color: transparent transparent transparent white;
        }
      }
    }
  }
}
.node-front-page-images{
  position: relative;
  h2{
    margin: 0;
  }
  .field-front-image-title{
    width: 90%;
    position: absolute;
    top: 10%;
    margin: 0;
    left: 10%;
    @include media($tablet) {
      top: 25%;
    }
    p{
      position: relative;
      font-size: 2.7rem;
      font-family: $heading-font-family;
      @include media(375px){
        font-size: 3.2rem;
      }
      @include media(800px){
        font-size: 6rem;
      }
    }
    .slideshow-companion{
      color: $orange;
      margin-bottom: 0;
      display: inline-block;
      vertical-align: top;
    }
    .slideshow-frontpage{
      display: inline-block;
      vertical-align: top;
      width: 87.5rem;
      @include media(630px){
        width: 70%;
      }
      p{
        margin: 0;
      }
      margin: -3px 0 0 4px;
      background-color: transparent;
      border-color: transparent;
      color: white;
    }
    @include media(500px){
      margin-bottom: 30px;
    };
  }
  .field-front-image-subtitle{
    font-size: 2.5rem;
    position: absolute;
    top: 40%;
    margin: 0;
    left: 10%;
    @include media(375px){
      font-size: 2.9rem;
    }
    @include media($tablet){
      font-size: 4.4rem;
    }
  }
  .field-front-image-button{
    display: inline-block;
    padding: 5px;
    font-family: $heading-font-family;
    @include media($mobile-large){
      padding: 10px 15px;
      margin-right: 20px;
    }
    @extend %button;
    @extend %button-white;
  }
  .field-main-image{
    img{
      width: 100%;
      min-height: 200px;
      display: block;
    }
  }
}
