//Margin for all pages with margin.
.panel-display{
  position: relative;
}
//To hide an element
.hide-it{
  display:none;
}
.active{
  display: inline;
}
//Format for all titles and descriptions.

.page-title,
#page-title {
  font-size:4.5rem;
  display: inline-block;
  text-transform: uppercase;
  //Bottom orange line.
  &:after{
    border-bottom: 5px solid $orange;
    content: "";
    display: block;
    width: 50px;
    margin: 0 auto;
    //Controls the distance with the title.
    height: 15px;
  }
}
.page-description p {
  font-size:2.5rem;
  max-width: 480px;
  font-family: $base-font-family;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media($mobile-large) {
    margin-bottom: 40px;
  }
}
//Format for all content and sidebars of the template panels-two-col.
.panel-two-col-content {
  width: 100%;
  clear: both;
}
.panel-two-col-sidebar {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}

.panel-display,
.panel-one-col-wide {
  overflow: hidden;
}

.panel-grid-width {
  margin: 0 auto;
  padding: 0 20px;
  @include media($tablet) {
    @extend %grid-width;
  }
  @include media(1100px) {
    padding: 0;
  }
}

.panel-content-first {
  padding-bottom: 20px;
  @include media($tablet) {
    padding-bottom: 55px;
  }
}
.panel-content-last {
  padding: 20px 0;
  @include media($tablet) {
    padding: 55px 0 60px;
  }
}

.page-header-wrapper{
  @include media($tablet) {
    width: 70%;
  }
}

.panel-one-col-wide {
  background: #EFEFED;
}

.panel-two-col-content{
  @include media($tablet) {
    float: left;
    width: 70%;
    margin-right:5%;
    max-width: 700px;
  }
}

.panel-two-col-sidebar{
  @include media($tablet) {
    float: right;
    width: 25%;
    max-width: 320px;
  }
}

