// Styles for the header
header{
  background-color:#522e91;
  height:100%;
}
//Changes to the menu ul.
.menu{
  list-style-type:none;
}
.header-main-menu-item{
  position:relative;
}
.header-main-menu-subitem{
  display:none;
  position:relative;
}
.expanded:hover{
  .header-main-menu-subitem{
    display:block;
}
}
.header-main-menu-item a{
  color: white;
  font-size:1.7rem;
}
.header-main-menu-item > a{
  text-transform:uppercase;
}