//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography


// Colors
$orange: rgba(235,122,80,1);
$purple: #522e91;
$gray: #d1d1d1;
$darkgray: #444547;
$black: #2d2f33;
$lightblue: #1ba2cc;


// Neat variables
$max-width: 1200px;
$grid-colums: 13;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
