//Breadcrumbs
.breadcrumb{
  font-size: 1.4rem;
  text-transform: uppercase;
  a, span{
    color: #522e91;
  }
  &:after{
    margin: 30px 0;
    display: block;
    content: '';
    border-bottom: 1px solid $gray;
  }
}