// Base colors
.header{
  background-color:$purple;
  .not-front & {
    margin-bottom: 20px;
    @include media($mobile-large) {
      margin-bottom: 40px;
    }
  }
}
.header-content{
  margin: 0 20px;
  @include media(1242px){
    margin: 0 auto;
    max-width: 1200px;
  }
}
.site-logo{
  width: 120px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0;
  @include media(630px){
    width: 160px;
  }
  img {
    width: 100%;
  }
}
.main-menu{
  @include media(680px){
    display:inline-block;
    vertical-align:middle;
    margin-top:37px;
    float: right;
  }
}
.menu{
  padding-left:0;
  margin:0px;
  display: none;
  @include media(680px){
    display: inline-block;
  }
}
.expanded .menu{
  display:none;
  left:0px;
}
.show{
  display:block;
}
.header-main-menu-item {
  position:relative;
  // margin: 20px 0 0 0;
  padding: 0 15px;
  cursor:pointer;
  list-style:none;
  text-align:center;
  @include media(680px){
    margin: 0;
  }
  @include media(680px){
    margin: 0;
  }
  a{
    display: block;
    text-transform:uppercase;
    text-decoration: none;
    color:$gray;
    @include media(630px){
      font-size: 1.1rem;
    }
    @include media(756px){
      font-size: 1.4rem;
      margin: 0;
    }
  }
  a:hover{
    color:$orange;
  }
}
.header-main-menu-subitem a{
  text-transform:capitalize;
}
.header-main-menu-item-social{
  padding: 0;
  width: 32px;
}
.facebook-icon{
  display: block;
  @include sprite(transparent, $x: center, $y: -17px);
  @extend %text-hidden;
  width: 32px;
  height: 32px;
}
.twitter-icon{
  display: block;
  @include sprite(transparent, $x: center, $y: 6px);
  @extend %text-hidden;
  width: 32px;
  height: 32px;
}
.pane-menu-menu-social-links{
  li{
    display: inline-block;
  }
}
.expanded{
  @include media($tablet){
    &:hover{
      .menu{
        display: block;
      }
    }
  }
}
.expanded .menu{
  @include media (630px){
    position: absolute;
    top: 20px;
    width:100%;
    padding-left: 0px;
    z-index: 100;
    background-color: white;
    border-top: 3px solid $orange;
    border-left: 1px solid $gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
  }
}
.header-main-menu-item{
  @include media(680px){
    display:inline-block;
    margin-left:-4px;
    vertical-align:middle;
    a{
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      transition-property: color;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}
.header-main-menu-subitem{
  @include media($tablet){
    a{
      color: black;
      padding: 5px;
    }
    &:first-child{
      padding-top: 15px;
    }
  }
}
