// Base colors
.header{
  background-color:$purple;
  .not-front & {
    margin-bottom: 20px;
    @include media($mobile-large) {
      margin-bottom: 80px;
    }
  }
}
.header-content{
  margin: 0 20px;
  @include media(1242px){
    margin: 0 auto;
    max-width: 1200px;
  }
}
.site-logo{
  width: 120px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0;
  @include media($second-breakpoint){
    width: 160px;
  }
  img {
    width: 100%;
  }
}
.main-menu{
  .content{
    text-align: center;
  }
  .header-main-menu-item{
    a{
      display: inline-block;
      vertical-align: top;
    }
  }
  @include media($first-breakpoint){
    display:inline-block;
    vertical-align:middle;
    margin-top:37px;
    float: right;
  }
}
.menu{
  padding-left:0;
  margin:0px;
  display: none;
  @include media($first-breakpoint){
    display: inline-block;
  }
  .expanded &{
    display:none;
    left:0px;
  }
  //Esto no va aquí.
  .footer-item-social{
    display: inline-block;
  }
}
.header-main-menu-item {
  position:relative;
  padding: 0 12px;
  cursor:pointer;
  list-style:none;
  text-align:center;
  .show{
    display: block;
  }
  @include media($first-breakpoint){
    margin: 0;
  }
  @include media($first-breakpoint) {
    display:inline-block;
    margin-left:-4px;
    vertical-align:middle;
    padding-bottom: 20px;
    a{
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      transition-property: color;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  a{
    display: block;
    text-transform:uppercase;
    text-decoration: none;
    color:$gray;
    font-size: 2rem;
    padding: 5px 0;
    @include media($first-breakpoint) {
      font-size: 1.1rem;
    }
    @include media($second-breakpoint) {
      font-size: 1.4rem;
    }
  }
  a:hover{
    color:$orange;
  }
}
.header-main-menu-subitem {
    &.last {
      margin-bottom: 10px;
    }
    a {
    text-transform:capitalize;
    color: $orange;
  }
}
.header-main-menu-item-social, .footer-item-social{
  a{
    border-radius: 16px;
    width: 32px;
    background-color: #3e227a;
  }
  padding: 0 !important;
  margin: 10px 4px 20px 4px;
  @include media(630px) {
    margin: 0 4px 20px 4px;
  }
}
.header-main-menu-item-social{
  display: inline-block;
}
.facebook-icon{
  display: block;
  @include sprite(transparent, $x: center, $y: -17px);
  @extend %text-hidden;
  width: 32px;
  height: 32px;
  &:hover{
    background-color: #3e5b99;
  }
}
.twitter-icon{
  display: block;
  @include sprite(transparent, $x: center, $y: 6px);
  @extend %text-hidden;
  width: 32px;
  height: 32px;
  &:hover{
    background-color: #55acee;
  }
}
.expanded{
  @include media($tablet){
    min-width: 80px;
    &:hover{
      .menu{
        display: block;
      }
    }
  }
  .menu{
    @include media (680px){
      position: absolute;
      top: 40px;              //Aqui hice un cambio.
      width:100%;
      padding-left: 0px;
      z-index: 100;
      background-color: white;
      border-top: 3px solid $orange;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;
    }
  }
}
.header-main-menu-subitem{
  @include media(680px){
    a{
      color: black;
      padding: 5px;
    }
    &:first-child{
      padding-top: 15px;
    }
  }
}
//Toggle
.nav-toggle{
  display: block;
  position: absolute;
  right: 20px;
  top: 42px;
  width: 30px;
  height: 30px;
  span:after, span:before{
    content: "";
    position: absolute;
    top: -9px;
  }
  & span:after{
    top:9px;
  }
  span, span:after, span:before{
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
    border-radius: 2px;
  }
  span{
    position: absolute;
    top: 0;
  }
  &.on span{
    background-color: transparent;
  }
  &.on span:before{
    transform: rotate(45deg) translate(5px, 5px);
  }
  &.on span:after{
    transform: rotate(-45deg) translate(7px, -8px);
  }
  @include media(680px){
    display: none;
  }
}
.header-content .menu{
  transition: all 0.3s;
}
