// component specific variables

  // default tabs
  $tab-active-default: #333;

.quicktabs-wrapper {
  padding-top: 55px;
}
.quicktabs-tabs {
  padding-top: 20px;
}
.quicktabs-hide {
  display: none;
}

.quicktabs-tabs {
  padding-left: 0;
  margin: 0;
}
.quicktabs-tabs {
  padding: 0 20px;
  @include media(1067px) {
    margin-top:20px;
  }
  li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    white-space: nowrap;
    margin-right: 5px;
    float: none;
    a {
      border-radius: 6px 6px 0 0;
      background: #d1d1d1;
      color: #fff;
      display: inline-block;
      padding: 15px;
      position: relative;
      text-transform: uppercase;
      @include media(1037px) {
        bottom: -16px;
      }
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
    &.active {
      @include media(1037px) {
        margin-top: -20px;
      }
      a {
        // background: $tab-active-default;
        color: #fff;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 10px 0 10px;
          border-color: #d1d1d1 transparent transparent transparent;
          position: absolute;
          bottom: -12px;
          left: 50%;
          margin-left: -5px;
        }
        @include media(1037px) {
          padding-top: 33px;
          padding-bottom: 33px;
          bottom: 0px;
        }
      }
    }
  }
}
.page-entrepreneur {
  .quicktabs-tabs {
    li {
      a {
        background-color: #3c912e;
        &:after{
          border-color: #3c912e transparent transparent transparent;
        }
      }
    }
    .first {
      a {
        background-color: #fcdb0f;

        &:after{
          border-color: #fcdb0f transparent transparent transparent;
        }
        @include media(max-width 530px) {
          padding: 5px 10px;
        }
      }
    }
    .last {
      a {
        background-color: #bd021c;
        &:after{
          border-color: #bd021c transparent transparent transparent;
        }
      }
    }
  }
}

.quicktabs_main {
  background: #f7f7f7;
  padding: 30px;
  // margin-bottom: 20px;
  @include media($tablet) {
    // margin-bottom: 145px;
  }
  .panel-one-col-wide & {
    background: #fff;
  }
}

// who we are tabs
.page-whoweare {
  .quicktabs-tabs {
    @include media(max-width 530px) {
      text-align: center;
    }
    li {
      text-align: center;
      a {
        min-width: 170px;
        background-color: #ECB6A5;
        @include media(max-width 530px) {
          border-radius: 10px;
          margin-bottom: 10px;
          padding: 5px 10px;
          &:after {
            display: none;
          }
        }
      }
      &.active {
        a {
          background-color: #EB7A50;
          &:after {
            border-color: #EB7A50 transparent;
          }
        }
      }
    }
  }
}
.page-learn {
  .quicktabs-tabs {
    @include media(max-width 530px) {
      text-align: center;
    }
    li {
      a {
        background-color: #fcdb0f;

        &:after{
          border-color: #fcdb0f transparent transparent transparent;
        }
        @include media(max-width 530px) {
          padding: 5px 10px;
        }
      }
    }
    .first {
      a {
        background-color: #2e3c91;
        &:after{
          border-color: #2e3c91 transparent transparent transparent;
        }
      }
    }
    .last {
      a {
        background-color: #EB7A50;
        &:after{
          border-color: #EB7A50 transparent transparent transparent;
        }
      }
    }
  }
}
