// component specific variables

  // default tabs
  $tab-active-default: #333;

.quicktabs-wrapper {
  padding-top: 55px;
}
.quicktabs-tabs {
  padding-top: 20px;
}
.quicktabs-hide {
  display: none;
}

.quicktabs-tabs {
  padding-left: 0;
  margin: 0;
}
.quicktabs-tabs {
  padding: 0 20px;
  @include media(1067px) {
    padding: 0;
  }
  li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    white-space: nowrap;
    margin-right: 5px;
    float: none;
    a {
      border-radius: 6px 6px 0 0;
      background: #d1d1d1;
      color: #fff;
      display: inline-block;
      padding: 15px;
      position: relative;
      text-transform: uppercase;
      @include media(1037px) {
        padding: 23px 80px;
      }
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
    &.active {
      @include media(1037px) {
        margin-top: -20px;
      }
      a {
        background: $tab-active-default;
        color: #fff;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 10px 0 10px;
          border-color: $tab-active-default transparent transparent transparent;
          position: absolute;
          bottom: -12px;
          left: 50%;
          margin-left: -5px;
        }
        @include media(1037px) {
          padding: 33px 80px;
        }
      }
    }
  }
}

.quicktabs_main {
  background: #f7f7f7;
  padding: 30px;
  margin-bottom: 20px;
  @include media($tablet) {
    margin-bottom: 145px;
  }
  .panel-one-col-wide & {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
}

// who we are tabs
.page-whoweare {
  .quicktabs-tabs {
    @include media(max-width 530px) {
      text-align: center;
    }
    li {
      a {
        background-color: #ECB6A5;
        @include media(max-width 530px) {
          border-radius: 10px;
          margin-bottom: 10px;
          padding: 5px 10px;
          &:after {
            display: none;
          }
        }
      }
      &.active {
        a {
          background-color: #EB7A50;
          &:after {
            border-color: #EB7A50 transparent transparent transparent
          }
        }
      }
    }
  }
}

.page-learn {
  .quicktabs-tabs {
    @include media(max-width 530px) {
      text-align: center;
    }
    li {
      a {
        @include media(max-width 530px) {
          padding: 5px 10px;
        }
      }
    }
  }
}