.main-footer {
  //Fix for issue with header
  .menu{
    display:block;
  }
  @include media($tablet) {
    background: #43257f url(../images/footer-bg.jpg) top center no-repeat;
  }
  background: #43257f;
  color: #CDBEF4;
  @include media($tablet) {
    padding: 35px 45px;
  }
  .footer-content{
    @include media(1292px){
      max-width: 1200px;
      margin: 0 auto;
    };
  }
  a {
    color: $orange;
    font-size: 15px;
    &:hover {
      color: #CDBEF4;
    }
  }
  .block {
    h2 {
      color: #fff;
      font-size: 2rem;
    }
    border-bottom: solid 1px #6042A0;
    padding: 20px;
    @include media(500px) {
      display: inline-block;
      vertical-align: top;
      margin-left: -4px;
      width: 50%;
      border-bottom: none;
      &:first-child {
        margin-left: 0;
      }
    }
    @include media($tablet) {
      padding: 0;
    }
    @include media(1000px) {
      width: 25%;
    }
  }
  .panel-col-first {
    width: 60px;
  }
  .view-blog-list {
    .panel-col-first {
      width: 50px;
    }
  }
  .panel-col-last {
    width: 68%;
  }
  .views-row {
    padding-bottom: 15px;
  }
  
  // menu
  .block-menu {
    li {
      width: 48%;
      display: inline-block;
      vertical-align: top;
      @include media($tablet) {
        display: block;
        width: auto;
      }
    }
  }
  // events
  .view-proximas-actividades {
    .views-field-view-node {
      display: none;
    }
  }
}